<div class="row"><h1>All therapists</h1>
<button class="btn btn-primary" ng-click="goCreateTherapists()">Create</button>
</div>
<div class="row spacer">
	<div class="input-group">
		<input class="form-control" ng-model="therapistFilter">
		<span class="input-group-addon">
			<span class="glyphicon glyphicon-search"></span>
		</span>
	</div>
</div>
<br>
<div class="row">
	<ul ng-show="therapistFilter" class="list-group">
		<li class="list-group-item" ng-repeat="therapist in therapists | filter:therapistFilter | orderBy: 'lastName'">
			{{ therapist.lastName }} 		
		</li>
	</ul>
</div>
<br>
<div class="row">
<ul class="list-group">
		<li class="list-group-item" ng-repeat="therapist in therapists  | orderBy: 'lastName'">
			{{ therapist.lastName }} 		
</li>
</ul>
</div>