<div class="row">
	<h1>Create a new Therapist</h1>
	
	<button class="btn btn-primary" ng-click="changeLanguage('nl')" translate="BUTTON_LANG_NL"></button>
	<button class="btn btn-primary" ng-click="changeLanguage('en')" translate="BUTTON_LANG_EN"></button>
	<div class="row spacer"></div>	
			
	<div class=row>
		<div class="col-xs-12 col-md-6">
			<form ng-submit="doCreate()" class="form-horizontal" role="form">
				<div class="form-group">
					<label for="inputTherapistType" class="col-sm-3 control-label">{{ 'TYPE' | translate }}</label>
					<div class="col-sm-8">
						<input type="therapistType" id="inputTherapistType" ng-model="therapist.therapistType" required pattern="^[a-zA-Z0-9-_\.]{2,20}$" class="form-control" placeholder="{{ 'TYPE' | translate }}">
					</div>
				</div>
				<!-- Therapist type moet bestaan uit min 2 tekens en max 20 voor type, geen speciale tekens, cijfers wel mogelijk -->
				
				<div class="form-group">
					<label for="inputPhoneNumber" class="col-sm-3 control-label">{{ 'PHONE' | translate }}</label>
					<div class="col-sm-8">

						<input type="phoneNumber" id="inputPhoneNumber" ng-model="therapist.phoneNumber" required pattern="[0-9\-]{10,14}" class="form-control" placeholder="{{ 'PHONE' | translate }}">

					</div>
				</div>
				<!-- telnr moet bestaan uit min 10 en max 14 cijfers -->
				
				<div class="form-group">
					<label for="inputLastName" class="col-sm-3 control-label">{{ 'LASTNAME' | translate }}</label>
					<div class="col-sm-8">

						<input type="lastName" id="inputLastName" ng-model="therapist.lastName" class="form-control" required pattern="[a-zA-Z\- ]+" placeholder="{{ 'LASTNAME' | translate }}">

					</div>
				</div>
				
				<div class="form-group">
					<label for="inputFirstName" class="col-sm-3 control-label">{{ 'FIRSTNAME' | translate }}</label>
					<div class="col-sm-8">

						<input type="firstName" id="inputFirstName" ng-model="therapist.firstName" required pattern="[a-zA-Z\- ]+" class="form-control" placeholder="{{ 'FIRSTNAME' | translate }}">

					</div>
				</div>

				<div class="form-group">
					<label for="inputUsername" class="col-sm-3 control-label">{{ 'USERNAME' | translate }}</label>
					<div class="col-sm-8">
						<input type="username" id="inputUsername" ng-model="therapist.username" required pattern="^[a-zA-Z0-9-_\.]{5,20}$" title="Fill in a non-excisting username from 5 to 20 characters long, only letters and numbers are aloud" class="form-control" placeholder="{{ 'USERNAME' | translate }}">
					</div>
				</div>
<!-- 		Username moet bestaan uit min 5 en max 20 letter(s) of cijfer(s) -->
				<div class="form-group">
					<label for="inputPassword" class="col-sm-3 control-label">{{ 'PASSWORD' | translate }}</label>
					<div class="col-sm-8">
						<input type="password" id="inputPassword" ng-model="therapist.password" required pattern="(?=^.{5,15}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" title="This password needs to contain at least one capital letter, one lower case letter, a number or special character and it needs to be 5 to 15 characters long" class="form-control" placeholder="{{ 'PASSWORD' | translate }}">
						
					</div>
					
				</div>

	<!-- 		Password moet voldoen aan: hoofdletter, kleine letter, speciaal teken(s) of cijfer(s), en min 5 en max 10 tekens -->
				
				<div class="col-sm-offset-3 col-sm-8">
					<button type="submit" class="btn btn-default">Create</button>
				</div>
				</form>
			</div>
		
	</div>
</div>
