html, body {
	padding: 0;
	margin: 0;
}

body {
	background-color: #fff;
	margin-top: 70px;
}

.spacer {
  margin-top: 20px;
}

.pointer {
	cursor: pointer;
}

.chart {
 width: 100vw;
 height: 500px;
}


.larger {
	font-size: 16px;
}

#exerciseDrag {
	margin-bottom: 1em;
	cursor: hand;
	/*width: 100%;*/
	text-align: center;
	font-size: 1em;
	padding: 0.3em;
	color: white;
}

/*#exerciseDrag:nth-child(odd) {
	background-color: #2ecc71;
}

#exerciseDrag:nth-child(even) {
	background-color: #3498db;
}*/


#assignAgenda {
}

#menuClick:hover{
	cursor: hand;
}

#allSearchResult:hover{
	color: #6F8787;
	cursor: hand;
}
#profile{
	font-size: 18px;
	list-style-type: none;
}
 
input:required:invalid, input:focus:invalid {
    background-image: url(../images/kruisje_rood.png);
    background-position: right top;
    background-repeat: no-repeat;
  }

input:required:valid {
    background-image: url(../images/vinkje.gif);
    background-position: right top;
    background-repeat: no-repeat;
  }


/*#profileButton{
	background-color: black;
	color: black;
}*/



