<h1>Home</h1>
<div class="row" ng-show="isTherapist">
	<div class="col-sm-12 col-md-6 col-lg-6">
		<therapist-patients></therapist-patients>		
	</div>
	<div class="col-sm-12 col-md-6 col-lg-6">
		<all-exercises></all-exercises>
	</div>
</div>

