<div class="row"><h1>All Patients</h1>
	<button class="btn btn-primary" ng-click="goCreatePatient()">Create</button>
</div>

<div class="row spacer">
	<div class="input-group">
		<input class="form-control" ng-model="patientFilter.$">
		<span class="input-group-addon">
		<span class="glyphicon glyphicon-search"></span>
		</span>
	</div>
</div>

<div class="row spacer">
	<ul class="list-group">
		<li class="list-group-item" id="allSearchResult" ng-click="goProfile(patient.id)" ng-repeat="patient in patients | filter:patientFilter | orderBy: 'firstName'">
				{{ patient.firstName }} {{patient.lastName}}
		</li>

	</ul>
</div>

