<div class="row spacer" ng-show="message">
	<div class="alert alert-danger col-md-12 col-xs-12" role="alert">{{message}}</div>
</div>

<h1>Create a Patient</h1>

<div class="row">
	<div class="col-xs-12 col-md-6">
		<form ng-submit="doCreate()" class="form-horizontal" role="form">
			<div class="form-group">
				<label for="inputPatientNr" class="col-sm-3 control-label">Patient Number</label>
				<div class="col-sm-8">
					<input type="text" id="inputPatientNr" required pattern="[1-9]{1}[0-9]{0,8}" title="fill in a number between 0 and 1.000.000.000"class="form-control" ng-model="patient.patientNr" placeholder="patient number">
				</div>
			</div>

			<div class="form-group">
				<label for="inputFirstName" class="col-sm-3 control-label">First Name</label>
				<div class="col-sm-8">
					<input type="text" id="inputFirstName" ng-model="patient.firstName" 
					required pattern="[a-zA-Z\- ]+" class="form-control" placeholder="First name">
				</div>
			</div>

			<div class="form-group">
				<label for="inputLastName" class="col-sm-3 control-label">Last Name</label>
				<div class="col-sm-8">
				<input type="text" id="inputLastName" ng-model="patient.lastName" required pattern="[a-zA-Z\- ]+" class="form-control" placeholder="Last name">
				</div>
			</div>

			<div class="form-group">
				<label for="inputEmail" class="col-sm-3 control-label">E-Mail</label>
				<div class="col-sm-8">
					<input type="email" title="Fill in a correct e-mailadress" id="inputEmail" ng-model="patient.email" required class="form-control" placeholder="patient@address.net">
				</div>
			</div>

			<div class="form-group">
				<div class="col-sm-offset-3 col-sm-8">
					<button type="submit" class="btn btn-primary">Create</button>
				</div>
			</div>
		</form>
	</div>
</div>