
		<h3>My Patients</h3>
		<div class="spacer">
			<div class="input-group">
				<input class="form-control" ng-model="patientFilter.$">
				<span class="input-group-addon">
				<span class="glyphicon glyphicon-search"></span>
				</span>
			</div>
		</div>
		<div class="spacer">
			<ul class="list-group">
				<li class="list-group-item" id="allSearchResult" ng-click="goProfile(patient.id)" ng-repeat="patient in patients | filter:patientFilter | orderBy: 'firstName'">
					{{ patient.firstName }} {{patient.lastName}}
				</li>
			</ul>
		</div>
