<div class="row">
	<button type="button" class="btn btn-default" ng-click="goPatients()">Back to All Patients</button>
	<button type="button" class="btn btn-default" ng-click="goUpdatePatient(patient.id)">Update patient</button>

	<h1>{{patient.firstName}}&nbsp{{patient.lastName}}</h1>
	
</div>

<div class="row spacer">
	<ul class="list-group" id="profile">
		<li class="list-group-item">Lastname:&nbsp{{patient.lastName}}</li>
		<li class="list-group-item">Firstname:&nbsp{{patient.firstName}}</li>
		<li class="list-group-item">PatientNr:&nbsp{{patient.patientNr}}</li>
		<li class="list-group-item">E-mail:&nbsp{{patient.email}}</li>
		<li class="list-group-item">active:&nbsp{{patient.active}}</li>
		
	</ul>
</div>

<button type="button" class="btn btn-success" ng-click="goAgenda(patient.id)">Go to Calendar</button>
<button type="button" class="btn btn-info" ng-click="goResultAgenda(patient.id)">Go to Results</button>