<div class="row">
	<button type="button" class="btn btn-default" ng-click="goPatients()">Back to All Patients</button>
	<button type="button" class="btn btn-default" ng-click="goProfile(patient.id)">Back to  {{patient.firstName}}&nbsp{{patient.lastName}}</button>
	
	<h1>{{patient.firstName}}&nbsp{{patient.lastName}}</h1>
	
</div>
<!-- deletePatient -->


<div class="row">
	<div class="col-xs-12 col-md-6">
		<form ng-submit="doUpdate()" class="form-horizontal" role="form">
			<div class="form-group">
				<label for="udatePatientNr" class="col-sm-3 control-label">Patient Number</label>
				<div class="col-sm-8">
					<input type="text" id="updatePatientNr" required pattern="[1-9]{1}[0-9]{0,8}" title="fill in a number between 0 and 1.000.000.000"class="form-control" ng-model="patient.patientNr" placeholder="{{patient.patientNr}}">
				</div>
			</div>

			<div class="form-group">
				<label for="updateFirstName" class="col-sm-3 control-label">First Name</label>
				<div class="col-sm-8">
					<input type="text" id="updateFirstName" ng-model="patient.firstName" 
					required pattern="[a-zA-Z\- ]+" class="form-control" placeholder="{{patient.firstName}}">
				</div>
			</div> 

			<div class="form-group">
				<label for="updateLastName" class="col-sm-3 control-label">Last Name</label>
				<div class="col-sm-8">
				<input type="text" id="updateLastName" ng-model="patient.lastName" required pattern="[a-zA-Z\- ]+" class="form-control" placeholder="{{patient.lastName}}">
				</div>
			</div>

			<div class="form-group">
				<label for="updateEmail" class="col-sm-3 control-label">E-Mail</label>
				<div class="col-sm-8">
					<input type="email" title="Fill in a correct e-mailadress" id="updateEmail" ng-model="patient.email" required class="form-control" placeholder="{{patient.email}}">
				</div>
			</div>

		<!-- 	<div class="form-group">
				<label for="updateStatus" class="col-sm-3 control-label">Status</label>
				<div class="col-sm-8">
					<input type="radio" name="group1" ng-model="{{patient.active}}" value="true" checked> Active<br>
					<input type="radio" name="group1" ng-model="{{patient.active}}" value="false"> Inactive
				</div>
			</div> -->



			<div class="form-group">
				<div class="col-sm-offset-3 col-sm-8">
					<button type="submit" class="btn btn-primary">Update patient</button>
				
				
				<!-- <button type="button" class="btn btn-primary" ng-click="deletePatient(patient.id)">Delete patient</button> -->
			</div>
			</div>
		</form>
	</div>
</div>