<div class="row"><h1>All Exercises</h1>
	<button class="btn btn-primary" ng-click="goCreateExercise()">Create</button>
</div>

<div class="row spacer">
	<div class="input-group">
		<input class="form-control" ng-model="exerciseFilter.$">
		<span class="input-group-addon">
		<span class="glyphicon glyphicon-search"></span>
		</span>
	</div>
</div>

<div class="row spacer">
	<ul class="list-group">
		<li class="list-group-item" id="allSearchResult" ng-click="goExerciseProfile(exercise.id)" ng-repeat="exercise in exercises | filter:exerciseFilter | orderBy: 'exerciseName'">
				{{ exercise.exerciseName }}
		</li>
	</ul>
</div>


