<h3>All Exercises</h3>
<div class="spacer">
	<div class="input-group">
		<input class="form-control" ng-model="exerciseFilter.$">
		<span class="input-group-addon">
		<span class="glyphicon glyphicon-search"></span>
		</span>
	</div>
</div>
<div class="spacer">
	<ul class="list-group">
		<li class="list-group-item" id="allSearchResult" ng-click="goExerciseProfile(exercise.id)" ng-repeat="exercise in exercises | filter:exerciseFilter | orderBy: 'exerciseName'">
			{{ exercise.exerciseName }}
		</li>
	</ul>
</div>