

<div class="row">
	<button type="button" class="btn btn-default" ng-click="goExercises()">Back to All Exercises</button>
	<button type="button" class="btn btn-default" ng-click="goExerciseProfile(exercise.id)">Back to {{ exercise.exerciseName }}</button>
	
	<h1>{{ exercise.exerciseName }}</h1>
</div>



	<div class="row">
		<div class="col-xs-12 col-md-8">
			<form ng-submit="doUpdate()" class="form-horizontal" role="form">
				<div class="form-group">
					<label for="inputExerciseName" class="col-sm-2 control-label">Execise Name</label>
					<div class="col-sm-8">
						<input type="exerciseName" id="inputExerciseName" ng-model="exercise.exerciseName" required pattern="^[a-zA-Z0-9-_\. ]{3,50}$" title="Fill in an exercisename that is between 3 to 50 characters long, only letters and numbers aloud"class="form-control" placeholder="Exercise Name">
					</div>
				</div>


				<div class="form-group">
					<label for="inputYoutubeLink" class="col-sm-2 control-label">Youtube Link</label>
					<div class="col-sm-8">
						<input type="url" name="website" title="Copy the link of your YouTube examplevideo here"id="inputYoutubeLink" ng-model="exercise.youtubelink" class="form-control" placeholder="Youtube Link">
					</div>
				</div>
				
				<div class="form-group">
					<label for="inputRepetitions" class="col-sm-2 control-label">Repetitions</label>
					<div class="col-sm-8">
						<input type="repetitions" id="inputRepetitions" ng-model="exercise.repetitions" required pattern="[1-9]{1}[0-9]{0,2}" title="Fill in the number of advised repititions between 0 and 1000"class="form-control" placeholder="Repetitions">
					</div>
				</div>

		
				
				<div class="form-group">
					<label for="inputDescription" class="col-sm-2 control-label">Description</label>
					<div class="col-sm-8">

						<textarea type="description" id="inputDescription" ng-model="exercise.description"
						class="form-control" rows ="4" cols="50" placeholder="Write a description"></textarea>

					</div>
				</div>


				<div class="form-group">
				<div class="col-sm-offset-2 col-sm-8">
					<button type="submit" class="btn btn-primary">Update Exercise</button>
				</div>
				</div>
				
				
	

				
				
			</form>

		</div>
		
	</div>
