<div class="row">
	<button type="button" class="btn btn-default" ng-click="goExercises()">Back to All Exercises</button>
	<button type="button" class="btn btn-default" ng-click="goUpdateExercise(exercise.id)">Update Exercise</button>
	<h1>{{ exercise.exerciseName }}</h1>
	
</div>


<div class="row spacer">
	<ul class="list-group" id="profile">
		<li class="list-group-item">Name:&nbsp{{ exercise.exerciseName }}</li>
		<li class="list-group-item">Repetitons:&nbsp{{exercise.repetitions}}</li>
		<li class="list-group-item"> YouTube:&nbsp <a href="{{exercise.youtubelink}}">Examplevideo</a> </li>
		<li class="list-group-item">Description:&nbsp{{exercise.description}}</li>
	</ul>
</div>

<div class="row">
	<iframe width="420" height="315" src='{{exercise.youtubelink}}' frameborder="0" allowfullscreen></iframe>
	</div>
