<div class="row"><h1>All Admins</h1>
	<button class="btn btn-primary" ng-click="goCreateAdmin()">Create</button>
</div>
<div class="row spacer">
	<div class="input-group">
		<input class="form-control" ng-model="adminFilter">
		<span class="input-group-addon">
		<span class="glyphicon glyphicon-search"></span>
		</span>
	</div>
</div>

<div class="row spacer">
	<ul class="list-group">
		<li class="list-group-item" ng-repeat="admin in admins | filter:adminFilter | orderBy: 'username'">
			{{ admin.username }}
		</li>
	</ul>
</div>