<div class="row spacer" ng-show="message">
	<div class="alert alert-danger col-md-12 col-xs-12" role="alert">{{message}}</div>
</div>

<h1>Create an Admin</h1>

<div class="row spacer">
	<div class="col-xs-12 col-md-6">
		<form ng-submit="doCreate()" onsubmit="return alert('Admin is created')" class="form-horizontal" role="form">
			<div class="form-group">
				<label for="inputUsername" class="col-sm-2 control-label">Username</label>
				<div class="col-sm-8">
					<input type="username" id="inputUsername" required pattern="^[a-zA-Z0-9-_\.]{5,20}$" title="Fill in a non-excisting username from 5 to 20 characters long, only letters and numbers are aloud" class="form-control" ng-model="admin.username" placeholder="Username">
				</div>
			</div>
			<!-- 		Username moet bestaan uit min 5 en max 20 letter(s) of cijfer(s) -->
			<div class="form-group">
				<label for="inputPassword" class="col-sm-2 control-label">Password</label>
				<div class="col-sm-8">
					<input type="password" id="inputPassword" ng-model="admin.password" required pattern="(?=^.{5,15}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" title="This password needs to contain at least one capital letter, one lower case letter, a number or special character and needs to be 5 to 15 characters long" class="form-control" placeholder="Password">
				</div>

			</div>
			
			<!-- 		Password moet voldoen aan: hoofdletter, kleine letter, speciaal teken(s) of cijfer(s), en min 5 en max 10 tekens -->

			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-8">
					<button type="submit" class="btn btn-primary">Create</button>
				</div>
			</div>
		</form>
	</div>
</div>