
<li id="menuClick" class="dropdown"  ng-class="{ active: isActive('/therapists')}">
	<a data-toggle="dropdown" class="dropdown-toggle" >Manage Therapists<b class="caret"></b></a>
	<ul  class="dropdown-menu">
	        <li id="menuClick" ng-click="goTherapists()">
              <a>All Therapists</a>
            </li>
            <li id="menuClick" ng-click="goCreateTherapists()">
              <a>Create Therapist</a>
            </li>
         </ul>
</li>

<li id="menuClick" class="dropdown" ng-class="{ active: isActive('/Admins')}">
	<a data-toggle="dropdown" class="dropdown-toggle">Manage Admins<b class="caret"></b></a>
	 <ul class="dropdown-menu">
            <li id="menuClick" ng-click="goAdmins()">
              <a>All Admins</a>
            </li>
            <li id="menuClick" ng-click="goCreateAdmin()">
              <a>Create Admin</a>
            </li>
         </ul>
</li>



