<nav ng-show="status" class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Hipper</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

          <admin-menu class="nav navbar-nav" ng-show="isAdmin"></admin-menu>
          <therapist-menu class="nav navbar-nav" ng-show="isTherapist"></therapist-menu>

      <ul class="nav navbar-nav navbar-right">
        <li><a>{{ currentUser.username }}</a></li>
        <li><a ng-click="doSignOut()">Sign Out</a></li>
      </ul>
      </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>