
<li class="dropdown" ng-class="{ active: isActive('/patients')}" >

	<a data-toggle="dropdown" id="menuClick" class="dropdown-toggle">Manage Patients<b class="caret"></b></a>
		<ul class="dropdown-menu">
			<li id="menuClick" ng-click="goPatients()">
				<a>All Patients</a>
			</li>
			<li id="menuClick" ng-click="goCreatePatient()">
				<a>Create Patient</a>
			</li>
		</ul>
</li>

<li class="dropdown" >

	<a data-toggle="dropdown" id="menuClick" class="dropdown-toggle">Manage Exercises<b class="caret"></b></a>
		<ul class="dropdown-menu">
			<li id="menuClick" ng-click="goExercises()">
				<a>All Exercises</a>
			</li>
			<li id="menuClick" ng-click="goCreateExercise()">
				<a>Create Exercise</a>
			</li>
		</ul>
</li>


