<script>
angular.module('checkboxExample', [])
.controller('ExampleController', ['$scope', function($scope) {
$scope.value1 = true;
$scope.value2 = 'YES'
}]);
</script>
<h1>Hipper Sign In</h1>
<div class="row">
  <div class="col xs-12 col-md-6">
    <ul class="nav nav-pills">
      <li class="pointer" ng-class="{ 'active': !admin() }"><a ng-click="credentials.role = 2">Therapist</a></li>
      <li class="pointer" ng-class="{ 'active': admin() }"><a ng-click="credentials.role = 1">Admin</a></li>
    </ul>
  </div>
</div>
<div class="row spacer">
  <div class="col-xs-12 col-md-6">
    <form ng-submit="doSignIn()" class="form-horizontal" role="form">
      <div class="form-group">
        <label for="inputEmail" class="col-sm-2 control-label">Username</label>
        <div class="col-sm-10">
          <input type="username" id="inputEmail" class="form-control" ng-model="credentials.username" placeholder="Username">
        </div>
      </div>
      <div class="form-group">
        <label for="inputPassword" class="col-sm-2 control-label">Password</label>
        <div class="col-sm-10">
          <input type="password" id="inputPassword" ng-model="credentials.password" class="form-control" placeholder="Password">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-default">Sign in</button>
        </div>
      </div>
    </form>
    <h3>{{message}}</h3>
  </div>
</div>