<button type="button" class="btn btn-default" ng-click="goPatients()">Back to All Patients</button>
	<button type="button" class="btn btn-default" ng-click="goProfile(patient.id)">Back to Profile of {{patient.firstName}}&nbsp{{patient.lastName}}</button>
<h1> Results of {{patient.firstName}} {{patient.lastName}} </h1>

<div ui-calendar="uiConfig.calendar" ng-model="eventSources" Calendar="myCalendar">

