

<h1> Week {{ result.weeknumber}} </h1>
<button ng-click="oneDownWeek()"class="btn btn-primary" align="left">Previous</button>
<button ng-click="oneUpWeek()" class="btn btn-primary" align = "right">Next</button>


<div class="modal hide" id="pleaseWaitDialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-header">
            <h1>Creating Graphs...</h1>
        </div>
        <div class="modal-body">
            <div class="progress progress-striped active">
                <div class="bar" style="width: 100%;"></div>
            </div>
        </div>
    </div>



<div class="row">
		<div class="col-md-3">
		
	
		<h3 style="margin: 0px">Exercises</h3>
		

		<hr>
		<div class="list-group">
			<a ng-click="change(ex)" ng-class="{ 'active': ex === currentExercise }" class="list-group-item pointer" ng-repeat="ex in result.results" ng-show="result.results">
				{{ex.exerciseName}} 
				<span ng-show=" ex.targetAchieved === false " class="glyphicon glyphicon-thumbs-down pull-right larger text-danger" aria-hidden="true"></span>
				<span ng-show=" ex.targetAchieved === true " class="glyphicon glyphicon-thumbs-up pull-right larger text-success" aria-hidden="true"></span>
			</a>
		</div>
	</div>
	<div class="col-md-9">
		<div id="barGraph" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
	</div>
