<div class="row">
	<button type="button" class="btn btn-default" ng-click="goPatients()">Back to All Patients</button>
	<button type="button" class="btn btn-default" ng-click="goProfile(patient.id)">Back to Profile of {{patient.firstName}}&nbsp{{patient.lastName}}</button>
	<h1>Assign Exercises to {{patient.firstName}} {{patient.lastName}}</h1>
</div>
<div class="row spacer">
	<div class="col-md-3 col-lg-3">
		<h4 id="exerciseDragTitle">Select Exercise</h4>
		<h5 id="exerciseDragTitle">Manualy insert repetitions: <input type="checkbox" ng-model="checkboxValue" ng-click="checkboxValue = !checkboxValue"></h5>
		<div id="exerciseDrag" class="btn btn-block btn-primary" data-drag="true" ng-model="exercises" data-jqyoui-options="{revert: false, helper: 'clone'}" jqyoui-draggable="{placeholder:'keep', onStart:'getExerciseData(exercise)'}" jqyoui-droppable="{multiple: true}" ng-repeat="exercise in exercises" >
			{{exercise.exerciseName}}
		</div>
		<br></br>
		<br></br>
		<div>Drag an exercise here to start selecting:</div>


			<div class="thumbnail" style='height:45px; width: 275;' data-drop="true" data-jqyoui-options jqyoui-droppable="{onDrop: 'getSelectedEvent()'}">	
				<div class="btn btn-block btn-primary" ng-hide="!selectedTitle">		
					{{selectedTitle}}
				</div>
			</div>
			<button type="button" ng-click='clearSelected()'>Clear</button>

	</div>
	<div class="col-md-9 col-lg-9">
		<div data-drop="true" ng-hide="exercises" id="assignAgenda" ui-calendar="uiConfig.calendar" ng-model="eventSources" Calendar="myCalendar">
		</div>
	</div>
</div>